body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.half-width-1st{
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
}
.section-1st{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 50px;
}